body {
  font-family: sans-serif;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  width: 80vw;
  /* height: 50vh; */
  border: 1px solid black;
  display: flex;
  position: relative;
}
#formContainer {
  position: absolute;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px 1px grey;
  display: none;
}
#formContainer label {
  font-size: 20px;
  margin-right: 10px;
}
#formContainer input {
  border: 1px solid black;
  border-radius: 5px;
}
#formContainer button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px 8px;
  font-size: 15px;
  margin: auto;
}
#employeeList {
  /* width: 20%; */
  height: 100%;
  border-right: 1px solid black;
}
#employeeList ul {
  list-style-type: none;
  margin-left: -30px;
}
#employeeList li {
  /* text-indent: -2em; */
  margin: 10px 10px;
  padding: 10px 5px;
  height: 25px;
  /* width: 100%; */
  background: pink;
}
#employeeDetail {
  height: 100%;
  /* width: 80%; */
  /* border-right: 1px solid green; */
}
#employeeDetail:hover {
  background-color: yellow;
}
